<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parabank Tests" parallel="tests" thread-count="3" verbose="2">
    <test name="Login Test">
        <classes>
            <class name="Tests.LoginTest"/>
        </classes>
    </test>
    <test name="Register Test">
        <classes>
            <class name="Tests.RegisterTest"/>
        </classes>
    </test>
    <test name="Bill Pay Test">
        <classes>
            <class name="Tests.BillPayTest"/>
        </classes>
    </test>
</suite>
